{{ $label := .Get 0 }}
{{ $complexity := .Get 1  }}
{{ $color := "" }}
{{ $emoji := " " }}
{{ if eq $label "Good" }}
  {{ $color = "#00d26a" }}
  {{ $emoji = "🟢" }}
  <span class="green-label">{{ .Inner }}</span>
{{ else if eq $label "Moderate" }}
  {{ $color = "#ffb02e" }}
  {{ $emoji = "⚠️" }}
  <span class="orange-label">{{ .Inner }}</span>
{{ else }}
  {{ $color = "#f8312f" }}
  {{ $emoji = "💥" }}
  <span class="hard-label">{{ .Inner }}</span>
{{ end }}

<blockquote data-toggle="tooltip" data-placement="bottom" style="border-left: 6px solid {{ $color }};" title="{{ $complexity }}">
    <span>{{ $emoji }} Code Complexity: {{ $label }}</span>
</blockquote>

<style>
  .green-label {
      color: green;
  }
  
  .orange-label {
      color: orange;
  }
  
  .red-label {
      color: red;
  }

  blockquote {
    width: fit-content;
  }
</style>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>